<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2pjKOiE7zGbP04neR5Xgo9_ONZLfuklY</string>
	<key>GCM_SENDER_ID</key>
	<string>477595002172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elearnapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>elearn-9c315</string>
	<key>STORAGE_BUCKET</key>
	<string>elearn-9c315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477595002172:ios:5db11fab4b33965a832a39</string>
</dict>
</plist>